div {
    background-image: linear-gradient(to right, #c9861c, #cb6528, #c34438, #b32448, #990556);
    height: 60px;
    padding-top: 7px;

p {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

}