.content {
    background-image: linear-gradient(to right, #c9861c, #cb6528, #c34438, #b32448, #990556);;
    height: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;

p {
    color: white;
    font-size: 2em;
    position: relative;
    -webkit-animation: floating-text 0.5s ease alternate infinite;
    -moz-animation: floating-text 0.5s ease alternate infinite;
    -ms-animation: floating-text 0.5s ease alternate infinite;
    -o-animation: floating-text 0.5s ease alternate infinite;
    animation: floating-text 0.5s ease alternate infinite;
}
}

@-webkit-keyframes floating-text {
    0% {  
      -webkit-transform: translateY(.1em);
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-moz-keyframes floating-text {
    0% {  
      -moz-transform: translateY(.1em);
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-ms-keyframes floating-text {
    0% {  
      -ms-transform: translateY(.1em);
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-o-keyframes floating-text {
    0% {  
      -o-transform: translateY(.1em);
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @keyframes floating-text {
    0% {  
      transform: translateY(.1em);
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }